* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

*::selection {
  background: #03dac6;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

*::selection {
  background: #03dac6;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  font-size: 60.5%;
  /* overflow-x: hidden; */
}

html::-webkit-scrollbar {
  width: 1.5em;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #03dac6;
}

body {
  background-color: #303030;
  color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Roboto Serif', serif;
  max-width: 1280px;
  width: 100%;
}

section {
  padding: 100px 50px 100px;
}

h1 {
  color: #fff;
  margin: 30px 0;
  font-size: 40px;
}

h2 {
  color: #03dac6;
  text-shadow: 3px 2px 10px rgba(175, 175, 175, 0.8);
  font-size: 36px;
  text-transform: uppercase;
}

.box__about h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
  color: #03dac6;
}

h4 {
  font-size: 20px;
  color: #03dac6;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 18px;
  color: #88a0a6;
}

li {
  font-size: 15px;
  list-style: none;
}

span {
  font-size: 15px;
  color: #04bbaa;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: #303030;
  padding: 20px 50px 10px;
  box-shadow: 5px 1px 10px rgba(165, 165, 165, 0.6);
}

header .logo {
  font-size: 20px;
  color: #e4e4e4;
}

header .logo .color {
  color: #04bbaa;
  font-size: 14px;
  margin: 5px 0;
  display: block;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

header .navbar ul li a {
  font-size: 18px;
  color: #03dac6;
  text-decoration: none;
}

header .navbar ul li a:hover {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: color 0.3s ease;
}

/*--------------------- Burger menu styles - starts--------------------*/

header #burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 10px;
  overflow: visible;
  position: relative;
  z-index: 2;
  display: none;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #fff;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
  content: '';
}

#burger-menu span {
  right: -40px;
  top: 13px;
  width: 30px;
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 30px;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 30px;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 30px;
  width: 30px;
  background-color: white;
}

#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 30px;
  background-color: white;
}

#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 1;
  min-width: 50%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  text-align: right;
  padding-top: 3rem;
  padding-right: 5rem;
  transition: all 0.3s ease-in-out;
}

#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: transparent;
}

#menu li {
  list-style: none;
}

#menu a {
  color: #fff;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  text-decoration: none;
}

#menu a:hover {
  font-size: 26px;
}

/*--------------------- Burger menu styles - end--------------*/

/*------------------- Center the entire section -------------*/
.container__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
}

/* ------Style for the main content box------ */
.box__about {
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.pic-logo {
  width: 270px;
}

.box__about p {
  line-height: 30px;
  max-width: 1000px;
  margin-top: 50px;
}

.box__about-skills {
  list-style-type: none;
  font-size: 20px;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box__about-skills li {
  max-width: 600px;
  width: 100%;
  padding: 20px 10px;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 5px 2px 5px rgb(145, 144, 144);
}

.box__about-skills li:hover {
  transform: translateX(10px);
  transition: 1s all ease;
}

.box__skills img {
  width: 55px;
}

.box__skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box__about-skills strong {
  color: #04bbaa;
}

/*------------------- Style for buttons --------------*/

.btn-set {
  display: flex;
  gap: 30px;
  justify-content: center;
}

button {
  border: none;
  border-radius: 3px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn1 {
  background-color: #04bbaa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn2 {
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn1:hover,
.btn2:hover {
  background-color: #303030;
  font-weight: 400;
  border: 2px solid #fff;
  transition: background-color 0.3s, color 0.3s;
}

.btn1 a {
  color: #fff;
}

.btn2 a {
  color: #04bbaa;
}

.btn1:hover a,
.btn2:hover a {
  color: #04bbaa;
}

/*-------------------- Skills -------------------*/
/* Center the entire section */

.box__skills li {
    font-size: 15px;
    
}
.box__skills img {
    width: 55px;
    margin-top: 15px;
}
#skills {
  padding: 50px 50px 50px;
  width: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------Style for the skills list container ------------*/
.box__skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

/* Style for skills list items */
.box__skills li {
  font-size: 18px;
  margin: 50px 0 0;
  color: #e4e4e4;
  list-style-type: none;
  text-align: center;
}

/*---------------------- Experience section -------------------*/

.experience-grid {
  display: grid;
  grid-template-columns: repeat(minmax(300px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 20px;
}

.experience-item {
  /* border: 1px solid #ccc;
  padding: 10px; */
  /* max-width: 500px; */
  width: 100%;
  padding: 20px 10px;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 5px 2px 5px rgb(145, 144, 144);
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------------Style for the experience list------------ */
.experience ul {
  list-style-type: none;
  text-align: left;
  margin: 50px 0 25px;
  font-size: 17px;
}

.experience li {
  margin-bottom: 10px;
}

.experience-item:hover {
  transform: translateX(10px);
  transition: 1s all ease;
}

/* -----------------Style for the span elements----------- */
.experience span {
  /* color: #03dac6; */
  color: #fff;
}

/*------------------ Projects section -------------------*/
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#projects ul {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 50px 0 0;
}

#projects li {
  display: flex;
  flex-direction: column;
  margin: 50px 50px 0;
  max-width: 500px;
  padding: 20px 10px;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 5px 2px 5px rgb(145, 144, 144);
}

#projects a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 17px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#projects a:hover {
  text-decoration: underline;
}
#projects li:hover {
  transform: translateX(10px);
  transition: 1s all ease;
}

/*--------------- Connect/Contact Section---------------------------*/
#contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

/* -------------Style for the connect list container-------- */
.connect-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  list-style-type: none;
  font-size: 18px;
  margin: 40px 0 0;
}

.link-item a {
  color: #e4e4e4;
}

.link-item a:hover {
  text-decoration: underline;
}

/*--------------- Form Section---------------------*/
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 50px 100px;
}

#form h2 {
  font-size: 20px;
}

/* Style for the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 30px 0;
}

/* Style for form labels */
form label {
  font-size: 16px;
  color: #e4e4e4;
  margin: 0 0 5px;
}

/* Style for form inputs */
form input,
form textarea {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #444;
  color: #e4e4e4;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

/* Style for form submit button */
form button .btn1 {
  background-color: #03dac6;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 32px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

form button:hover {
  background-color: #02b7a8;
}

/*--------------- Messages --------------*/
#messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

/* Style for the messages list container */
.messages {
  list-style-type: none;
  margin: 20px 0;
}

/* Style for message list items */
.messages li {
  font-size: 15px;
  color: #e4e4e4;
  background-color: #444;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.messages li a {
  color: #e4e4e4;
  padding: 0 10px 0 0;
}

.messages li span {
  padding: 0 40px 0 0;
}

.messages button {
  background-color: #04bbaa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px 0;
  text-align: center;
  font-size: 14px;
}

/*---------- Footer -------------*/
footer {
  width: 100%;
  background-color: #303030;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
}

/* Style for social icons */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  margin: 0 0 20px 0;
}

.icons__style {
  font-size: 1.5rem;
  background: linear-gradient(to left, #04bbaa, #fff3e4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: color 0.3s;
}

/* -------------   Media queries ------  */

@media all and (max-width: 1280px) {
  
}

@media all and (max-width: 912px) {
  header #burger-menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    opacity: 0;
  }
}
@media all and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  #projects ul {
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 0 0;
  }

  #projects li {
    margin-bottom: 10px;
    margin: 30px auto 0;
    padding: 20px 40px 20px 10px;
  }
}

@media all and (max-width: 912px) {
  html {
    font-size: 55%;
  }
  header #burger-menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    opacity: 0;
  }
}

@media all and (max-width: 820px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }
  .box__about h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  header #burger-menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    opacity: 0;
  }
}

@media all and (max-width: 768px) {
  .box__about-skills li {
    max-width: 500px;
  }
  .box__about img {
    width: 220px;
  }
  .burger-menu {
    display: flex;
  }

  .menu {
    display: none;
  }

  .navbar {
    display: none;
  }
}

@media all and (max-width: 540px) {
  .box__about-skills li {
    max-width: 350px;
  }

  .box__about img {
    width: 200px;
  }
}

@media all and (max-width: 500px) {
  html {
    font-size: 50%;
  }

  section,
  #skills {
    padding: 40px 20px;
  }
h1 {
  font-size: 25px;
}

h2 {
  margin-top: 50px;
  font-size: 20px;
}

#form h2 {
    font-size: 20px;
}

#menu a {
  font-size: 14px;
}
#menu a:hover {
  font-size: 17px;
}

.experience span {
    font-size: 10px;
}
.box__skills li {
    font-size: 12px;
    
}
.box__skills img {
    width: 45px;
    margin-top: 15px;
}
.connect-list {
    gap: 10px;
}
  .pic-logo {
  width: 200px;
}

.btn1 {
  color: #fff;
}
/* button {
  padding: 11px 22px;
} */

button {
    padding: 7px 12px;
}
#burger-menu span {
    right: -20px;
    top: 13px;
    width: 30px;
  }

  .menu {
    min-height: 70vh;
  }

  .messages li {
font-size: 12px;
width: 280px;

  }
  .messages li span {
    padding: 0 0 0 0;
  }
  .messages button {
  font-size: 10px;
  }

/* element.style {
} */
}
@media all and (max-width: 414px) {
}

@media all and (max-width: 280px) {
}
